<div class="header"> 
    <div class="header-container"> 
        <div class="name">
            <h1 class="name-text">Vkino</h1>
        </div>           
        <div class="search-bar">
            <input type="text" placeholder="Поиск" class="search-input">
        </div>
        
        <div class="user-profile">
            {{#if isAuthorized}}
                <span class="username">{{userName}}</span>
                <img src="img/user-avatar.png" alt="User avatar" class="avatar">
                <a class="btn btn-logout" href="/" data-action="logout" router-link>Выйти</a>
            {{else}}
                {{!-- <button class="btn" data-action="sign-in" type="button" data-link>Войти</button>
                <button class="btn" data-action="sign-up" type="button" data-link>Зарегистрироваться</button> --}}
                <a class="btn" href="/sign-in" router-link>Войти</a>
                <a class="btn" href="/sign-up" router-link>Зарегистрироваться</a>
            {{/if}}
        </div>
    </div>
</div>