<div class="header">
  <div class="header-container">
    <div class="name">
      <h1 class="name-text">Vkino</h1>
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Поиск" class="search-input" />
    </div>

    <div class="user-profile">
      {{#if isAuthorized}}
        <span class="username">{{userName}}</span>
        <a href="/settings" router-link aria-label="Открыть настройки">
          <img src="{{#if avatarUrl}}{{avatarUrl}}{{else}}img/user-avatar.png{{/if}}" alt="User avatar" class="avatar" data-action="go-to-settings" />
        </a>
        <a
          class="btn btn-logout"
          href="/"
          data-action="logout"
          router-link
        >Выйти</a>
      {{else}}
        <a class="btn" href="/sign-in" router-link>Войти</a>
        <a class="btn" href="/sign-up" router-link>Зарегистрироваться</a>
      {{/if}}
    </div>
  </div>
</div>