<div class="page page_not-found">
  <main class="not-found-page">
    <img
      class="not-found-page__image"
      src="/img/404.png"
      alt="404"
    />
    <h1 class="not-found-page__title">Такой страницы нет :(</h1>
    <a class="not-found-page__button" href="/" router-link>
      Вернуться на главную страницу
    </a>
  </main>
</div>
